<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书列表展示</title>
    
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/list.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- <script src="js/jq-paginator.js"></script> -->

</head>

<body>
    <div id="app">
        
        <el-header>
            <h1 style="text-align: center;">图书管理系统</h1>
        </el-header>
        <el-container>
        
            <el-aside>
                <el-menu class="el-menu-vertical-demo">
                    <a href="manindex.html">
                        <el-menu-item>
                            <i class="el-icon-menu"></i>
                            <span slot="title">首页</span>
                        </el-menu-item>
                    </a>
                    <a href="book_list.html">
                        <el-menu-item>
                            <i class="el-icon-menu"></i>
                            <span slot="title">书籍管理</span>
                        </el-menu-item>
                    </a>
                    <a href="mnotice.html">
                        <el-menu-item>
                            <i class="el-icon-menu"></i>
                            <span slot="title">公告</span>
                        </el-menu-item>
                    </a>
                    <a href="maninfo.html">
                        <el-menu-item>
                            <i class="el-icon-menu"></i>
                            <span slot="title">我的</span>
                        </el-menu-item>
                    </a>
                </el-menu>
            </el-aside>
            <el-main>
               <el-form ref="form" :model="form" label-width="80px" style="width: 80%;">
                    <el-form-item>
                        <div style="height: 40px;"></div>
                    </el-form-item>
                
                    <el-form-item label="用户名">
                        <el-input v-model="userName"></el-input>
                    </el-form-item>
                    <el-form-item label="新密码">
                        <el-input v-model="password"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="setListItem">提交更改</el-button>
                    </el-form-item>
                </el-form>
            </el-main>
        
        </el-container>
    </div>
    <script>

        const app = new Vue({
           el: '#app',
            data: {
                userName: '',
                password: '',
                userid:'',
            },
            created: function () {
                const uid = JSON.parse(window.localStorage.getItem('user')).name
                const userid = JSON.parse(window.localStorage.getItem('user')).id
                if (uid) {
                    this.userName = uid;
                }
                if (userid) {
                    this.userid = userid;
                }
         
            }, methods: {

                setListItem() {

                    window.localStorage.setItem('user', JSON.stringify({ name: this.userName }))
                    axios.put("user/updateuserbyid", {
                        userName: this.userName,
                        password: this.password,
                        Permissions: '2'
                    })
                },
                
                toLogin() {
                    window.location.replace("mlogin.html")
                }
            }
        })
    </script>

</body>

</html>